@theme {
  /* Base Colors */
  --color-primary-100: #f8f9fa;
  --color-primary-200: #e9ecef;
  --color-primary-300: #7a7d80;
  --color-primary-400: #495057;
  --color-primary-500: #343a40;
  --color-primary-600: #212529;
  --color-primary-700: #121416;

  --color-secondary-100: #e6f3ff;
  --color-secondary-200: #bde0ff;
  --color-secondary-300: #80c4ff;
  --color-secondary-400: #3396ff;
  --color-secondary-500: #0066ff;
  --color-secondary-600: #0047b3;
  --color-secondary-700: #003380;

  --color-tertiary-100: #f3e6ff;
  --color-tertiary-200: #dfbdff;
  --color-tertiary-300: #c180ff;
  --color-tertiary-400: #9933ff;
  --color-tertiary-500: #7700ff;
  --color-tertiary-600: #5500b3;
  --color-tertiary-700: #3d0080;

  --color-neutral-100: #ffffff;
  --color-neutral-200: #f2f2f2;
  --color-neutral-300: #cccccc;
  --color-neutral-400: #8c8c8c;
  --color-neutral-500: #666666;
  --color-neutral-600: #333333;
  --color-neutral-700: #000000;

  /* Functional Colors */
  --color-attention: #0065ad;
  --color-attention-light: #e6f0f8;

  --color-success: #007831;
  --color-success-light: #e5f1ea;

  --color-error: #c42c21;
  --color-error-light: #fae8e6;

  --color-promotion: #ff0000;

  /* Semantic Colors */
  --color-black: var(--color-neutral-700);
  --color-white: var(--color-neutral-100);

  /* Primary Colors */
  --color-primary: var(--color-primary-500);
  --color-primary-light: var(--color-primary-100);
  --color-primary-dark: var(--color-primary-700);
  --color-primary-hover: var(--color-primary-600);
  --color-primary-hover-light: var(--color-primary-300);

  /* Secondary Colors */
  --color-secondary: var(--color-secondary-400);
  --color-secondary-light: var(--color-secondary-100);
  --color-secondary-dark: var(--color-secondary-700);
  --color-secondary-hover: var(--color-secondary-500);
  --color-secondary-hover-light: var(--color-secondary-300);

  /* Tertiary Colors */
  --color-tertiary: var(--color-tertiary-500);
  --color-tertiary-light: var(--color-tertiary-100);
  --color-tertiary-dark: var(--color-tertiary-700);
  --color-tertiary-hover: var(--color-tertiary-600);
  --color-tertiary-hover-light: var(--color-tertiary-400);

  /* Text Emphasis */
  --color-high-emphasis: var(--color-neutral-600);
  --color-medium-emphasis: var(--color-neutral-500);

  /* Utility Colors */
  --color-inactive: var(--color-neutral-300);
  --color-border-controls: var(--color-neutral-500);
  --color-border-cards: var(--color-neutral-300);
  --color-surface-cards: var(--color-neutral-200);
}
