@theme {
  /* PRIMITIVE VARIABLES */

  /* Primary */
  --color-primary-100: #e6e5ec;
  --color-primary-200: #b4b3c6;
  --color-primary-300: #5c5a83;
  --color-primary-400: #050241;
  --color-primary-500: #040134;
  --color-primary-600: #020120;
  --color-primary-700: #010010;

  /* Secondary */
  --color-secondary-100: #e5f4fe;
  --color-secondary-200: #a5dafd;
  --color-secondary-300: #4cb5fb;
  --color-secondary-400: #017acd;
  --color-secondary-500: #0078c8;
  --color-secondary-600: #004b7d;
  --color-secondary-700: #003457;

  /* Tertiary */
  --color-tertiary-100: #e3e5de;
  --color-tertiary-200: #c8cbbd;
  --color-tertiary-300: #adb19c;
  --color-tertiary-400: #92987c;
  --color-tertiary-500: #747963;
  --color-tertiary-600: #5e6250;
  --color-tertiary-700: #414437;

  /* Neutral */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f2f2f2;
  --color-neutral-300: #cccccc;
  --color-neutral-400: #8c8c8c;
  --color-neutral-500: #666666;
  --color-neutral-600: #333333;
  --color-neutral-700: #000000;

  /* Attention */
  --color-attention-100: #e6f0f8;
  --color-attention-400: #0065ad;

  /* Success */
  --color-success-100: #e5f1ea;
  --color-success-400: #007831;

  /* Error */
  --color-error-100: #fae8e6;
  --color-error-400: #c42c21;

  /* Promotion */
  --color-promotion: #ff0000;

  /* Basic */
  --color-black: #000000;
  --color-white: #ffffff;

  /* SEMANTIC VARIABLES */

  /* Surfaces */

  --color-surface-white: var(
    --color-white
  ); /* The default background colour of the site. */
  --color-surface-black: var(--color-black); /* 100% Black */

  --color-surface-primary-default: var(
    --color-primary-400
  ); /* Primary colour base. Default CTA state */
  --color-surface-primary-lightest: var(
    --color-primary-100
  ); /* Primary colour lightest.  */
  --color-surface-primary-darkest: var(
    --color-primary-700
  ); /* Primary colour darkest.  */
  --color-surface-primary-hover-dark: var(
    --color-primary-500
  ); /* CTA hover dark - for use when Primary default is a light colour */
  --color-surface-primary-hover-light: var(
    --color-primary-300
  ); /* CTA hover light - for use when Primary default is a dark colour */
  --color-surface-primary-active: var(
    --color-primary-600
  ); /* Primary CTA active state  */

  --color-surface-secondary-default: var(
    --color-secondary-400
  ); /* Secondary colour base. */
  --color-surface-secondary-lightest: var(
    --color-secondary-100
  ); /* Secondary colour lightest. */
  --color-surface-secondary-darkest: var(
    --color-secondary-700
  ); /* Secondary colour darkest. */
  --color-surface-secondary-hover-dark: var(
    --color-secondary-500
  ); /* CTA hover dark - for use when Secondary default is a light colour. */
  --color-surface-secondary-hover-light: var(
    --color-secondary-300
  ); /* CTA hover light - for use when Secondary default is a dark colour */
  --color-surface-secondary-active: var(
    --color-secondary-600
  ); /* Secondary CTA active state */

  --color-surface-tertiary-default: var(
    --color-tertiary-400
  ); /* Teritary colour base. Default CTA state */
  --color-surface-tertiary-lightest: var(
    --color-tertiary-100
  ); /* Tertiary colour lightest */
  --color-surface-tertiary-darkest: var(
    --color-tertiary-700
  ); /* Tertiary colour darkest */
  --color-surface-tertiary-hover-dark: var(--color-tertiary-500);
  /* CTA hover dark - for use when Tertiary default is a light colour */
  --color-surface-tertiary-hover-light: var(
    --color-tertiary-300
  ); /* CTA hover light - for use when Secondary default is a dark colour */
  --color-surface-tertiary-active: var(
    --color-tertiary-600
  ); /* Tertiary CTA active state  */

  --color-surface-inactive: var(
    --color-neutral-300
  ); /* Inactive state of CTA’s, controls, input fields  */
  --color-surface-success: var(
    --color-success-100
  ); /* Surface colour for success messaging */
  --color-surface-error: var(
    --color-error-100
  ); /* Surface colour for error messaging */
  --color-surface-attention: var(
    --color-attention-100
  ); /* Surface colour for attention messaging */
  --color-surface-cards: var(
    --color-neutral-200
  ); /* Surface colour for cards */
  --color-surface-promotion: var(
    --color-promotion
  ); /* For use with PAP messaging */

  /* Borders */

  --color-border-black: var(
    --color-black
  ); /* For use when 100% black border is required */
  --color-border-white: var(
    --color-white
  ); /* For use when 100% white border is required */
  --color-border-primary: var(
    --color-primary-400
  ); /* For use when a primary base border is required, example: CTA border */
  --color-border-secondary: var(
    --color-secondary-400
  ); /* For use when a secondary base border is required, example: CTA border */
  --color-border-tertiary: var(
    --color-tertiary-400
  ); /* For use when a tertiary base border is required, example CTA border */
  --color-border-controls: var(
    --color-neutral-500
  ); /* For use on input fields, controls, CTA’s */
  --color-border-error: var(
    --color-error-400
  ); /* For use on error messaging notifications */
  --color-border-success: var(
    --color-success-400
  ); /* For use on success messaging notifications */
  --color-border-attention: var(
    --color-attention-400
  ); /* For use on attention messaging notifications */
  --color-border-inactive: var(
    --color-neutral-300
  ); /* For use on inactive input fields, controls, CTA’s */
  --color-border-promotion: var(
    --color-promotion
  ); /* For use on PAP messages */
  --color-border-cards: var(--color-neutral-300); /* For use on cards */

  /* Text */

  --color-text-high-emphasis: var(
    --color-neutral-600
  ); /* For use on high priority text, example: Headlines, titles, CTA text */
  --color-text-medium-emphasis: var(
    --color-neutral-500
  ); /* For use on medium priority text, example: bodytext */
  --color-text-black: var(
    --color-black
  ); /* For optional use on headings, and CTA text */
  --color-text-white: var(
    --color-white
  ); /* For use when text is required on a dark background. Example, CTA’s  */

  --color-text-primary-default: var(
    --color-primary-400
  ); /* For optional use on CTA default state text. Optional use for headings  */
  --color-text-primary-hover-dark: var(
    --color-primary-500
  ); /* For optional use on CTA hover state text, against a light surface. */
  --color-text-primary-hover-light: var(
    --color-primary-300
  ); /* For optional use on CTA hover state text, against a dark surface. */
  --color-text-primary-active: var(
    --color-primary-600
  ); /* For optional use on CTA active state text, against a light surface */

  --color-text-secondary-default: var(
    --color-secondary-400
  ); /* For optional use on CTA default state text. Optional use for headings */
  --color-text-secondary-hover-dark: var(
    --color-secondary-500
  ); /* For optional use on CTA hover state text, against a light surface. */
  --color-text-secondary-hover-light: var(
    --color-secondary-300
  ); /* For optional use on CTA hover state text, against a dark surface. */
  --color-text-secondary-active: var(
    --color-secondary-600
  ); /* For optional use on CTA active state text, against a light surface */

  --color-text-tertiary-default: var(
    --color-tertiary-400
  ); /* For optional use on CTA default state text. Optional use for headings */
  --color-text-tertiary-hover-dark: var(
    --color-tertiary-500
  ); /* For optional use on CTA hover state text, against a light surface. */
  --color-text-tertiary-hover-light: var(
    --color-tertiary-300
  ); /* For optional use on CTA hover state text, against a dark surface. */
  --color-text-tertiary-active: var(
    --color-tertiary-600
  ); /* For optional use on CTA active state text, against a light surface */

  --color-text-inactive: var(
    --color-neutral-300
  ); /* For use on CTA inactive state text, input fields */
  --color-text-success: var(
    --color-success-400
  ); /* Text colour for success messaging */
  --color-text-error: var(
    --color-error-400
  ); /* Text colour for error messaging */
  --color-text-attention: var(
    --color-attention-400
  ); /* Text colour for attention messaging */
  --color-text-promotion: var(
    --color-promotion
  ); /* Text colour for promotional messaging */

  /* Icons */
  --color-icons-black: var(--color-black); /* For optional use with icons */
  --color-icons-white: var(--color-white); /* For optional use with icons */
  --color-icons-primary: var(
    --color-primary-400
  ); /* For optional use with icons */
  --color-icons-primary-darker: var(
    --color-primary-500
  ); /* For optional use with icons */
  --color-icons-secondary: var(
    --color-secondary-400
  ); /* For optional use with icons */
  --color-icons-secondary-darker: var(
    --color-secondary-500
  ); /* For optional use with icons */
  --color-icons-tertiary: var(
    --color-tertiary-400
  ); /* For optional use with icons */
  --color-icons-tertiary-darker: var(
    --color-tertiary-500
  ); /* For optional use with icons */
  --color-icons-error: var(
    --color-error-400
  ); /* For use with error message icons */
  --color-icons-success: var(
    --color-success-400
  ); /* For use with success message icons */
  --color-icons-attention: var(
    --color-attention-400
  ); /* For use with attention message icons */
}
