<div
  class="dropdown-wrapper"
  role="region"
  aria-description="Dropdown selection component with a list of options"
  aria-expanded="false"
>
  <label id="dropdown-label" class="dropdown-label">Label</label>
  <details class="dropdown" aria-labelledby="dropdown-label">
    <summary
      class="dropdown-summary"
      aria-labelledby="dropdown-label"
      aria-describedby="helper-text"
      aria-expanded="false"
    >
      <div class="dropdown-summary-content">
        <svg
          class="dropdown-icon"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          focusable="false"
        >
          <path
            fill-rule="evenodd"
            d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
            clip-rule="evenodd"
          />
        </svg>
        <span id="selected-value" aria-describedby="dropdown-label"
          >Placeholder Text</span
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="dropdown-icon chevron"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          focusable="false"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </summary>

    <div class="dropdown-content-wrapper">
      <ul
        id="dropdown-list"
        class="dropdown-list"
        role="listbox"
        aria-labelledby="dropdown-label"
      >
        <li role="option" id="option-1" tabindex="0" aria-selected="false">
          Item 1
        </li>
        <li role="option" id="option-2" tabindex="0" aria-selected="false">
          Item 2
        </li>
        <li role="option" id="option-3" tabindex="0" aria-selected="false">
          Item 3
        </li>
        <li role="option" id="option-4" tabindex="0" aria-selected="false">
          Item 4
        </li>
        <li role="option" id="option-5" tabindex="0" aria-selected="false">
          Item 5
        </li>
        <li role="option" id="option-6" tabindex="0" aria-selected="false">
          Item 6
        </li>
        <li role="option" id="option-7" tabindex="0" aria-selected="false">
          Item 7
        </li>
        <li role="option" id="option-8" tabindex="0" aria-selected="false">
          Item 8
        </li>
      </ul>
    </div>
  </details>
  <p id="helper-text" class="dropdown-helper" aria-live="polite">Helper Text</p>
</div>
