<div class="dropdown-wrapper dropdown-inactive">
    <p class="dropdown-label">Label</p>
    <details class="dropdown">
        <summary class="dropdown-summary">
            <div class="dropdown-summary-content">
                <svg xmlns="http://www.w3.org/2000/svg" class="dropdown-icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                </svg>
                <span>Placeholder Text</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="dropdown-icon chevron" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </div>
        </summary>
        <ul class="menu dropdown-content">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
        </ul>
    </details>
    <p class="dropdown-helper">Helper Text</p>
</div>
