<div
  class="dropdown-wrapper"
  role="region"
  aria-description="Searchable dropdown selection component with a list of options"
>
  <label id="search-dropdown-label" class="dropdown-label">Label</label>
  <details class="dropdown">
    <summary class="dropdown-summary">
      <div class="dropdown-summary-content">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="dropdown-icon"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          focusable="false"
        >
          <path
            fill-rule="evenodd"
            d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
            clip-rule="evenodd"
          />
        </svg>
        <span id="selected-value" aria-describedby="search-dropdown-label"
          >Placeholder Text</span
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="dropdown-icon chevron"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          focusable="false"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </summary>
    <div
      class="dropdown-content search-dropdown-content"
      role="listbox"
      aria-labelledby="search-dropdown-label"
    >
      <div class="search-wrapper">
        <label for="dropdown-search" class="sr-only">Search options</label>
        <div class="search-input-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="search-icon"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            />
          </svg>
          <input
            type="search"
            id="dropdown-search"
            class="dropdown-search-input"
            placeholder="Search..."
            aria-controls="search-dropdown-list"
            autocomplete="off"
          />
        </div>
      </div>
      <ul id="search-dropdown-list" class="dropdown-list" role="presentation">
        <li
          role="option"
          id="search-option-1"
          tabindex="0"
          aria-selected="false"
        >
          Item 1
        </li>
        <li
          role="option"
          id="search-option-2"
          tabindex="0"
          aria-selected="false"
        >
          Item 2
        </li>
        <li
          role="option"
          id="search-option-3"
          tabindex="0"
          aria-selected="false"
        >
          Item 3
        </li>
        <li
          role="option"
          id="search-option-4"
          tabindex="0"
          aria-selected="false"
        >
          Item 4
        </li>
        <li
          role="option"
          id="search-option-5"
          tabindex="0"
          aria-selected="false"
        >
          Item 5
        </li>
        <li
          role="option"
          id="search-option-6"
          tabindex="0"
          aria-selected="false"
        >
          Item 6
        </li>
        <li
          role="option"
          id="search-option-7"
          tabindex="0"
          aria-selected="false"
        >
          Item 7
        </li>
        <li
          role="option"
          id="search-option-8"
          tabindex="0"
          aria-selected="false"
        >
          Item 8
        </li>
      </ul>
    </div>
  </details>
  <p id="helper-text" class="dropdown-helper" aria-live="polite">Helper Text</p>
</div>
