  <nav class="skin flex gap-6" aria-label="Pagination">
    <div class="flex items-center justify-center gap-2">
      <select
        id="page-selector"
        name="page-selector"
        class="pagination-select skin-pagination-select"
        aria-label="1 of 2"
      >
        <option value="1" aria-label="Page 1 of 2" selected>1</option>
        <option value="1" aria-label="Page 2 of 2">2</option>
      </select>
      <p class="text-body" aria-hidden="true">of 2</p>
    </div>
    <a
      id="next-page"
      class="flex cursor-pointer items-center"
      href="?pageNumber=2"
      aria-label="Next page"
    >
      <span>Next</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth="2"
        stroke="currentColor"
        class="pointer-events-none h-5 w-5"
        height="25"
        width="25"
        aria-hidden="true"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
          transform="rotate(180 12 12)"
        ></path>
      </svg>
    </a>
  </nav>
