<button class="btn-secondary" onclick="modal2.showModal()">Open Modal with Backdrop, No Click Away</button>

<dialog id="modal2" class="modal">
  <div class="modal-box">
    <h3 class="modal-title">Modal with Backdrop, No Click Away</h3>
    <div class="modal-body">
      <p>This modal can be closed by clicking the button below, and applies a backdrop to the page</p>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn-primary">Close Modal</button>
      </form>
    </div>
  </div>
</dialog>