<button
  class="btn btn-primary btn-high"
  onclick="backdropModal.showModal()"
  aria-haspopup="dialog"
>
  Open Modal with Backdrop Click Away
</button>

<dialog
  id="backdropModal"
  class="modal"
  role="dialog"
  aria-modal="true"
  aria-labelledby="backdrop-modal-content"
>
  <form method="dialog" class="modal-backdrop-click" aria-hidden="true">
    <button aria-hidden="true" tabindex="-1" aria-label="Close Modal"></button>
  </form>
  <div class="modal-box">
    <form method="dialog" class="modal-control-bar">
      <button class="modal-close-button">
        <span>Close</span>
        <span aria-hidden="true">✕</span>
      </button>
    </form>
    <div id="backdrop-modal-content" class="modal-content">
      This modal can be closed with ESC key or by clicking the background
    </div>
  </div>
</dialog>
