<button
  class="btn btn-primary btn-high"
  onclick="basicModal.showModal()"
  aria-haspopup="dialog"
  aria-controls="closeBasicModal"
>
  Open Modal with Close Button
</button>

<dialog
  id="basicModal"
  class="modal"
  role="dialog"
  aria-modal="true"
  aria-label="Close Button Modal"
>
  <div class="modal-box">
    <form method="dialog" class="modal-control-bar">
      <button autofocus class="modal-close-button">
        <span>Close</span>
        <span aria-hidden="true">✕</span>
      </button>
    </form>
    <div id="close-button-modal-content">
      Click the close button or press ESC to close
    </div>
  </div>
</dialog>
