<button class="btn-secondary" onclick="modal1.showModal()">Open Modal with No Backdrop, No Click Away</button>

<dialog id="modal1" class="modal-no-backdrop">
  <div class="modal-box">
    <form method="dialog" class="modal-close-form">
      <button class="btn-control square" aria-label="close">✕</button>
    </form>
    <h3 class="modal-title">Modal with No Backdrop, No Click Away</h3>
    <div class="modal-body">
      <p>This is a simple modal that can only be closed using the button below</p>
    </div>
    <div class="modal-action">
      <button class="btn-primary" onclick="event.preventDefault()">CTA</button>
    </div>
  </div>
</dialog>
