<button
  class="skin-primary-emphasised interactive btn"
  onclick="fullscreenModal.showModal()"
  aria-haspopup="dialog"
  aria-controls="fullscreenModal"
>
  Open Fullscreen Modal
</button>

<dialog
  id="fullscreenModal"
  class="modal-dialog modal-fullscreen modal-fullscreen-mobile"
  role="dialog"
  aria-modal="true"
  aria-label="Fullscreen Modal"
>
  <div class="skin-modal modal-container">
    <form method="dialog" class="modal-header">
      <button class="modal-close">
        <span>Close</span>
        <span aria-hidden="true">✕</span>
      </button>
    </form>
    <div>
      <div class="text-body">
        <h1>This modal is fullscreen on both desktop and mobile</h1>
      </div>
    </div>
  </div>
</dialog>
