<div class="flex flex-col gap-10 skin text-lg font-bold">
  <div class="flex flex-col">
    Star Rating
    <div class="rating-input skin-secondary wrapper">
      <input
        type="radio"
        id="star1"
        name="rating"
        value="1"
        aria-label="1 star"
      />
      <input
        type="radio"
        id="star2"
        name="rating"
        value="2"
        aria-label="2 stars"
        checked
      />
      <input
        type="radio"
        id="star3"
        name="rating"
        value="3"
        aria-label="3 stars"
      />
      <input
        type="radio"
        id="star4"
        name="rating"
        value="4"
        aria-label="4 stars"
      />
      <input
        type="radio"
        id="star5"
        name="rating"
        value="5"
        aria-label="5 stars"
      />
    </div>
  </div>

  <div class="flex flex-col">
    No Default Rating
    <div class="rating-input skin-secondary wrapper">
      <input
        type="radio"
        id="nostar1"
        name="emptyRating"
        value="1"
        aria-label="1 star"
      />
      <input
        type="radio"
        id="nostar2"
        name="emptyRating"
        value="2"
        aria-label="2 stars"
      />
      <input
        type="radio"
        id="nostar3"
        name="emptyRating"
        value="3"
        aria-label="3 stars"
      />
      <input
        type="radio"
        id="nostar4"
        name="emptyRating"
        value="4"
        aria-label="4 stars"
      />
      <input
        type="radio"
        id="nostar5"
        name="emptyRating"
        value="5"
        aria-label="5 stars"
      />
    </div>
  </div>

  <div
    class="flex flex-col"
    style="
      --rating-icon: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='2 2 20 20'%3E%3Cpath d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/%3E%3C/svg%3E&quot;);
    "
  >
    Custom Icons (Hearts)
    <div class="rating-input skin-tertiary wrapper">
      <input
        type="radio"
        id="heart1"
        name="heart-rating"
        value="1"
        aria-label="1 heart"
      />
      <input
        type="radio"
        id="heart2"
        name="heart-rating"
        value="2"
        aria-label="2 hearts"
      />
      <input
        type="radio"
        id="heart3"
        name="heart-rating"
        value="3"
        aria-label="3 hearts"
        checked
      />
      <input
        type="radio"
        id="heart4"
        name="heart-rating"
        value="4"
        aria-label="4 hearts"
      />
      <input
        type="radio"
        id="heart5"
        name="heart-rating"
        value="5"
        aria-label="5 hearts"
      />
    </div>
  </div>

  <div class="flex flex-col" style="--rating-icon-count: 10">
    Custom Icon Count (10 Stars)
    <div class="rating-input skin-secondary wrapper">
      <input
        type="radio"
        id="ten1"
        name="ten-rating"
        value="1"
        aria-label="1 star"
      />
      <input
        type="radio"
        id="ten2"
        name="ten-rating"
        value="2"
        aria-label="2 stars"
      />
      <input
        type="radio"
        id="ten3"
        name="ten-rating"
        value="3"
        aria-label="3 stars"
      />
      <input
        type="radio"
        id="ten4"
        name="ten-rating"
        value="4"
        aria-label="4 stars"
      />
      <input
        type="radio"
        id="ten5"
        name="ten-rating"
        value="5"
        aria-label="5 stars"
        checked
      />
      <input
        type="radio"
        id="ten6"
        name="ten-rating"
        value="6"
        aria-label="6 stars"
      />
      <input
        type="radio"
        id="ten7"
        name="ten-rating"
        value="7"
        aria-label="7 stars"
      />
      <input
        type="radio"
        id="ten8"
        name="ten-rating"
        value="8"
        aria-label="8 stars"
      />
      <input
        type="radio"
        id="ten9"
        name="ten-rating"
        value="9"
        aria-label="9 stars"
      />
      <input
        type="radio"
        id="ten10"
        name="ten-rating"
        value="10"
        aria-label="10 stars"
      />
    </div>
  </div>

  <div class="flex flex-col" style="--rating-icon-size: 48px">
    Custom Icon Size (Large Stars)
    <div class="rating-input skin-secondary wrapper">
      <input
        type="radio"
        id="large1"
        name="large-rating"
        value="1"
        aria-label="1 large star"
      />
      <input
        type="radio"
        id="large2"
        name="large-rating"
        value="2"
        aria-label="2 large stars"
      />
      <input
        type="radio"
        id="large3"
        name="large-rating"
        value="3"
        aria-label="3 large stars"
        checked
      />
      <input
        type="radio"
        id="large4"
        name="large-rating"
        value="4"
        aria-label="4 large stars"
      />
      <input
        type="radio"
        id="large5"
        name="large-rating"
        value="5"
        aria-label="5 large stars"
      />
    </div>
  </div>
</div>
