<div class="input-wrapper">
  <div class="input-label-wrapper">
    <label class="input-label" for="disabled-textarea">Label</label>
    <span class="input-status" aria-hidden="true">(Optional status)</span>
  </div>
  <div class="input-field-wrapper">
    <textarea
      class="input-field"
      id="disabled-textarea"
      name="disabled-textarea"
      placeholder="Placeholder text"
      aria-invalid="false"
      aria-describedby="disabled-textarea-error disabled-textarea-char-limit"
      aria-errormessage="disabled-textarea-error"
      autocomplete="off"
      spellcheck="true"
      minlength="0"
      maxlength="500"
      rows="4"
      style="resize: vertical"
      disabled
      aria-disabled="true"
    ></textarea>
  </div>
  <div class="input-helper-wrapper">
    <div class="input-error-content">
      <svg
        class="input-error-icon"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        focusable="false"
      >
        <path
          fill-rule="evenodd"
          d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
          clip-rule="evenodd"
        />
      </svg>
      <p class="input-error" id="disabled-textarea-error" role="alert">
        Error message
      </p>
    </div>
    <p
      class="input-char-limit"
      id="disabled-textarea-char-limit"
      aria-hidden="true"
      aria-disabled="true"
    >
      0/500
    </p>
  </div>
</div>
