<div class="skin-form input-wrapper w-64 !mt-6 wrapper group">
  <div class="input-label-wrapper">
    <label class="input-label text-body font-semi-bold" for="basic-input"
      >Label</label
    >
    <span class="input-status text-sm font-light soft" aria-hidden="true"
      >(Optional status)</span
    >
  </div>
  <div class="input-field-wrapper">
    <input
      type="text"
      class="input-field !text-body placeholder:soft interactive"
      id="basic-input"
      name="basic-input"
      placeholder="Placeholder text"
      aria-invalid="false"
      aria-describedby="basic-helper basic-status"
      aria-errormessage="basic-message"
      autocomplete="off"
      spellcheck="true"
      disabled
    />
  </div>
  <div class="input-helper-wrapper wrapper">
    <p class="input-helper text-sm soft" id="basic-helper">Helper text</p>
    <div class="skin-error input-error-content">
      <svg
        class="input-error-icon"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        focusable="false"
      >
        <path
          fill-rule="evenodd"
          d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
          clip-rule="evenodd"
        />
      </svg>
      <p class="input-error text-sm font-bold" id="basic-message" role="alert">
        Error message
      </p>
    </div>
  </div>
</div>
