<div class="skin-form input-wrapper w-full wrapper group">
  <div class="input-label-wrapper">
    <label class="input-label text-body font-semi-bold" for="basic-input"
      >Label</label
    >
  </div>
  <div class="input-field-wrapper">
    <input
      type="text"
      class="input-field !text-body placeholder:soft rounded-none interactive"
      id="basic-input"
      name="basic-input"
      placeholder="Placeholder text"
      aria-invalid="false"
      aria-describedby="basic-helper basic-status"
      aria-errormessage="basic-message"
      autocomplete="off"
      spellcheck="true"
    />
    <button
      class="btn btn-primary btn-medium mx-4 whitespace-nowrap rounded-none py-[24px]"
    >
      <span>Submission Button</span>
    </button>
  </div>
</div>
