---
import '../../sample-css/shadows.css';
import fs from 'node:fs';
import path from 'node:path';
import { parseShadowScheme } from '../../utils/shadowParser';

const cssFilePath = path.resolve('./src/sample-css/shadows.css');
const cssContent = fs.readFileSync(cssFilePath, 'utf-8');
const shadow = parseShadowScheme(cssContent);
---

<div class="pt-6 flex justify-center w-full">
  <div class="flex gap-4 items-center">
    <div class="w-32 h-32 p-4 bg-white rounded-xl">
      <div
        class="w-full h-full bg-zinc-300 rounded-lg"
        style={{
          boxShadow: shadow?.value,
        }}
      >
      </div>
    </div>

    <div class="text-center">
      <div>
        <strong>
          {shadow?.name}
        </strong>
      </div>
    </div>
  </div>
</div>
