---
import '../../tailwind.css';
import '../../sample-css/shadows.css';
import fs from 'node:fs';
import path from 'node:path';
import { parseShadowScheme } from '../../utils/shadowParser';

const cssFilePath = path.resolve('./src/sample-css/shadows.css');
const cssContent = fs.readFileSync(cssFilePath, 'utf-8');
const shadow = parseShadowScheme(cssContent);
---

<div class="max-w-7xl mx-auto p-6 theme">
  <div class="flex flex-col items-center">
    <div
      class="w-full max-w-[200px] h-32 bg-zinc-300 rounded-site"
      style={{
        boxShadow: shadow?.value,
      }}
    >
    </div>
    <div class="text-center pt-2">
      <div class="truncate">
        <span class="text-sm font-mono whitespace-nowrap text-black">
          {shadow?.name}
        </span>
      </div>
    </div>
  </div>
</div>
