@import 'tailwindcss';
@import './components/accordion.css';
@import './components/alert.css';
@import './components/button.css';
@import './components/carousel.css';
@import './components/controls.css';
@import './components/modal.css';
@import './components/input.css';
@import './components/dropdown.css';
@import './components/drawer.css';
@import './components/text.css';

@theme {
  --breakpoint-mobile: 640px;

  --color-primary-100: #f8f9fa;
  --color-primary-200: #e9ecef;
  --color-primary-300: #7a7d80;
  --color-primary-400: #495057;
  --color-primary-500: #343a40;
  --color-primary-600: #212529;
  --color-primary-700: #121416;

  --color-secondary-100: #e6f3ff;
  --color-secondary-200: #bde0ff;
  --color-secondary-300: #80c4ff;
  --color-secondary-400: #3396ff;
  --color-secondary-500: #0066ff;
  --color-secondary-600: #0047b3;
  --color-secondary-700: #003380;

  --color-tertiary-100: #f3e6ff;
  --color-tertiary-200: #dfbdff;
  --color-tertiary-300: #c180ff;
  --color-tertiary-400: #9933ff;
  --color-tertiary-500: #7700ff;
  --color-tertiary-600: #5500b3;
  --color-tertiary-700: #3d0080;

  --color-neutral-100: #ffffff;
  --color-neutral-200: #f2f2f2;
  --color-neutral-300: #cccccc;
  --color-neutral-400: #8c8c8c;
  --color-neutral-500: #666666;
  --color-neutral-600: #333333;
  --color-neutral-700: #000000;

  --color-attention-100: #e6f0f8;
  --color-attention-400: #0065ad;

  --color-success-100: #e5f1ea;
  --color-success-400: #007831;

  --color-error-100: #fae8e6;
  --color-error-400: #c42c21;

  --color-promotion: #ff0000;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-surface-white: var(--color-white);
  --color-surface-black: var(--color-black);

  --color-surface-primary-default: var(--color-primary-700);
  --color-surface-primary-lightest: var(--color-primary-100);
  --color-surface-primary-darkest: var(--color-primary-700);
  --color-surface-primary-hover-dark: var(--color-primary-500);
  --color-surface-primary-hover-light: var(--color-primary-300);
  --color-surface-primary-active: var(--color-primary-600);

  --color-surface-secondary-default: var(--color-secondary-400);
  --color-surface-secondary-lightest: var(--color-secondary-100);
  --color-surface-secondary-darkest: var(--color-secondary-700);
  --color-surface-secondary-hover-dark: var(--color-secondary-500);
  --color-surface-secondary-hover-light: var(--color-secondary-300);
  --color-surface-secondary-active: var(--color-secondary-600);

  --color-surface-tertiary-default: var(--color-tertiary-500);
  --color-surface-tertiary-lightest: var(--color-tertiary-100);
  --color-surface-tertiary-darkest: var(--color-tertiary-700);
  --color-surface-tertiary-hover-dark: var(--color-tertiary-600);
  --color-surface-tertiary-hover-light: var(--color-tertiary-400);
  --color-surface-tertiary-active: var(--color-tertiary-700);

  --color-surface-controls-dark: var(--color-neutral-400);
  --color-surface-controls-default: var(--color-neutral-300);

  --color-surface-inactive: var(--color-neutral-300);
  --color-surface-success: var(--color-success-100);
  --color-surface-error: var(--color-error-100);
  --color-surface-attention: var(--color-attention-100);
  --color-surface-cards: var(--color-neutral-200);
  --color-surface-promotion: var(--color-promotion);

  --color-border-black: var(--color-black);
  --color-border-white: var(--color-white);
  --color-border-primary: var(--color-primary-400);
  --color-border-secondary: var(--color-secondary-400);
  --color-border-tertiary: var(--color-tertiary-400);
  --color-border-controls: var(--color-neutral-500);
  --color-border-error: var(--color-error-400);
  --color-border-success: var(--color-success-400);
  --color-border-attention: var(--color-attention-400);
  --color-border-inactive: var(--color-neutral-300);
  --color-border-promotion: var(--color-promotion);
  --color-border-cards: var(--color-neutral-300);

  --color-text-high-emphasis: var(--color-neutral-600);
  --color-text-medium-emphasis: var(--color-neutral-500);
  --color-text-black: var(--color-black);
  --color-text-white: var(--color-white);

  --color-text-primary-default: var(--color-primary-500);
  --color-text-primary-hover-dark: var(--color-primary-600);
  --color-text-primary-hover-light: var(--color-primary-300);
  --color-text-primary-active: var(--color-primary-600);

  --color-text-secondary-default: var(--color-secondary-400);
  --color-text-secondary-hover-dark: var(--color-secondary-500);
  --color-text-secondary-hover-light: var(--color-secondary-400);
  --color-text-secondary-active: var(--color-secondary-600);

  --color-text-tertiary-default: var(--color-tertiary-500);
  --color-text-tertiary-hover-dark: var(--color-tertiary-600);
  --color-text-tertiary-hover-light: var(--color-tertiary-400);
  --color-text-tertiary-active: var(--color-tertiary-700);

  --color-text-inactive: var(--color-neutral-300);
  --color-text-success: var(--color-success-400);
  --color-text-error: var(--color-error-400);
  --color-text-attention: var(--color-attention-400);
  --color-text-promotion: var(--color-promotion);

  --color-icons-black: var(--color-black);
  --color-icons-white: var(--color-white);
  --color-icons-primary: var(--color-primary-400);
  --color-icons-primary-darker: var(--color-primary-500);
  --color-icons-secondary: var(--color-secondary-400);
  --color-icons-secondary-darker: var(--color-secondary-500);
  --color-icons-tertiary: var(--color-tertiary-400);
  --color-icons-tertiary-darker: var(--color-tertiary-500);
  --color-icons-error: var(--color-error-400);
  --color-icons-success: var(--color-success-400);

  --radius-size-none: 0px;
  --radius-size-sm: 4px;
  --radius-size-md: 8px;
  --radius-size-lg: 16px;
  --radius-size-xl: 32px;
  --radius-size-full: 9999px;

  --text-size-desktop-xl2: 45px;
  --line-height-desktop-xl2: 56px;
  --text-size-desktop-xl1: 37px;
  --line-height-desktop-xl1: 48px;
  --text-size-desktop-l2: 30px;
  --line-height-desktop-l2: 40px;
  --text-size-desktop-l1: 24px;
  --line-height-desktop-l1: 32px;
  --text-size-desktop-md: 20px;
  --line-height-desktop-md: 28px;
  --text-size-desktop-body: 16px;
  --line-height-desktop-body: 24px;
  --text-size-desktop-sm: 14px;
  --line-height-desktop-sm: 20px;
  --text-size-desktop-xs: 13px;
  --line-height-desktop-xs: 20px;

  --text-size-mobile-xl2: 32px;
  --line-height-mobile-xl2: 40px;
  --text-size-mobile-xl1: 28px;
  --line-height-mobile-xl1: 36px;
  --text-size-mobile-l2: 24px;
  --line-height-mobile-l2: 32px;
  --text-size-mobile-l1: 21px;
  --line-height-mobile-l1: 28px;
  --text-size-mobile-md: 18px;
  --line-height-mobile-md: 24px;
  --text-size-mobile-body: 16px;
  --line-height-mobile-body: 24px;
  --text-size-mobile-sm: 14px;
  --line-height-mobile-sm: 20px;
  --text-size-mobile-xs: 13px;
  --line-height-mobile-xs: 20px;

  --text-size-xl2: var(--text-size-mobile-xl2);
  --line-height-xl2: var(--line-height-mobile-xl2);
  --text-size-xl1: var(--text-size-mobile-xl1);
  --line-height-xl1: var(--line-height-mobile-xl1);
  --text-size-l2: var(--text-size-mobile-l2);
  --line-height-l2: var(--line-height-mobile-l2);
  --text-size-l1: var(--text-size-mobile-l1);
  --line-height-l1: var(--line-height-mobile-l1);
  --text-size-md: var(--text-size-mobile-md);
  --line-height-md: var(--line-height-mobile-md);
  --text-size-body: var(--text-size-mobile-body);
  --line-height-body: var(--line-height-mobile-body);
  --text-size-sm: var(--text-size-mobile-sm);
  --line-height-sm: var(--line-height-mobile-sm);
  --text-size-xs: var(--text-size-mobile-xs);
  --line-height-xs: var(--line-height-mobile-xs);

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0 25px 30px -8px rgba(0, 0, 0, 0.2),
    0 10px 15px -5px rgba(0, 0, 0, 0.15), -12px 0 15px -5px rgba(0, 0, 0, 0.2),
    12px 0 15px -5px rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.25);

  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06),
    inset -1px 0 2px 0 rgba(0, 0, 0, 0.03),
    inset 1px 0 2px 0 rgba(0, 0, 0, 0.03);
  --shadow-none: none;

  --duration-speed-none: 0s;
  --duration-speed-quick: 0.1s;
  --duration-speed-default: 0.2s;
  --duration-speed-slow: 0.3s;
}

@media (min-width: var(--breakpoint-mobile)) {
  @theme {
    --text-size-xl2: var(--text-size-desktop-xl2);
    --line-height-xl2: var(--line-height-desktop-xl2);
    --text-size-xl1: var(--text-size-desktop-xl1);
    --line-height-xl1: var(--line-height-desktop-xl1);
    --text-size-l2: var(--text-size-desktop-l2);
    --line-height-l2: var(--line-height-desktop-l2);
    --text-size-l1: var(--text-size-desktop-l1);
    --line-height-l1: var(--line-height-desktop-l1);
    --text-size-md: var(--text-size-desktop-md);
    --line-height-md: var(--line-height-desktop-md);
    --text-size-body: var(--text-size-desktop-body);
    --line-height-body: var(--line-height-desktop-body);
    --text-size-sm: var(--text-size-desktop-sm);
    --line-height-sm: var(--line-height-desktop-sm);
    --text-size-xs: var(--text-size-desktop-xs);
    --line-height-xs: var(--line-height-desktop-xs);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
