@import 'tailwindcss';
@import './components/accordion.css';
@import './components/alert.css';
@import './components/button.css';
@import './components/carousel.css';
@import './components/controls.css';
@import './components/modal.css';
@import './components/input.css';
@import './components/dropdown.css';
@import './components/drawer.css';

@theme {
  --breakpoint-mobile: 1024px;

  --color-primary-100: #f8f9fa;
  --color-primary-200: #e9ecef;
  --color-primary-300: #7a7d80;
  --color-primary-400: #495057;
  --color-primary-500: #343a40;
  --color-primary-600: #212529;
  --color-primary-700: #121416;

  --color-secondary-100: #e6f3ff;
  --color-secondary-200: #bde0ff;
  --color-secondary-300: #80c4ff;
  --color-secondary-400: #3396ff;
  --color-secondary-500: #0066ff;
  --color-secondary-600: #0047b3;
  --color-secondary-700: #003380;

  --color-tertiary-100: #f3e6ff;
  --color-tertiary-200: #dfbdff;
  --color-tertiary-300: #c180ff;
  --color-tertiary-400: #9933ff;
  --color-tertiary-500: #7700ff;
  --color-tertiary-600: #5500b3;
  --color-tertiary-700: #3d0080;

  --color-neutral-100: #ffffff;
  --color-neutral-200: #f2f2f2;
  --color-neutral-300: #cccccc;
  --color-neutral-400: #8c8c8c;
  --color-neutral-500: #666666;
  --color-neutral-600: #333333;
  --color-neutral-700: #000000;

  --color-attention: #0065ad;
  --color-attention-light: #e6f0f8;

  --color-success: #007831;
  --color-success-light: #e5f1ea;

  --color-error: #c42c21;
  --color-error-light: #fae8e6;

  --color-promotion: #ff0000;

  --color-black: var(--color-neutral-700);
  --color-white: var(--color-neutral-100);

  --color-primary: var(--color-primary-500);
  --color-primary-light: var(--color-primary-100);
  --color-primary-dark: var(--color-primary-700);
  --color-primary-hover: var(--color-primary-600);
  --color-primary-hover-light: var(--color-primary-300);

  --color-secondary: var(--color-secondary-400);
  --color-secondary-light: var(--color-secondary-100);
  --color-secondary-dark: var(--color-secondary-700);
  --color-secondary-hover: var(--color-secondary-500);
  --color-secondary-hover-light: var(--color-secondary-300);

  --color-tertiary: var(--color-tertiary-500);
  --color-tertiary-light: var(--color-tertiary-100);
  --color-tertiary-dark: var(--color-tertiary-700);
  --color-tertiary-hover: var(--color-tertiary-600);
  --color-tertiary-hover-light: var(--color-tertiary-400);

  --color-high-emphasis: var(--color-neutral-600);
  --color-medium-emphasis: var(--color-neutral-500);

  --color-inactive: var(--color-neutral-300);
  --color-border-controls: var(--color-neutral-500);
  --color-border-cards: var(--color-neutral-300);
  --color-surface-cards: var(--color-neutral-200);

  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 32px;
  --radius-full: 9999px;

  --text-desktop-2xl: 45px;
  --line-height-desktop-2xl: 56px;
  --text-desktop-xl: 37px;
  --line-height-desktop-xl: 48px;
  --text-desktop-2lg: 30px;
  --line-height-desktop-2lg: 40px;
  --text-desktop-lg: 24px;
  --line-height-desktop-lg: 32px;
  --text-desktop-md: 20px;
  --line-height-desktop-md: 28px;
  --text-desktop-body: 16px;
  --line-height-desktop-body: 24px;
  --text-desktop-sm: 14px;
  --line-height-desktop-sm: 20px;
  --text-desktop-xs: 13px;
  --line-height-desktop-xs: 20px;

  --text-mobile-2xl: 32px;
  --line-height-mobile-2xl: 40px;
  --text-mobile-xl: 28px;
  --line-height-mobile-xl: 36px;
  --text-mobile-2lg: 24px;
  --line-height-mobile-2lg: 32px;
  --text-mobile-lg: 21px;
  --line-height-mobile-lg: 28px;
  --text-mobile-md: 18px;
  --line-height-mobile-md: 24px;
  --text-mobile-body: 16px;
  --line-height-mobile-body: 24px;
  --text-mobile-sm: 14px;
  --line-height-mobile-sm: 20px;
  --text-mobile-xs: 13px;
  --line-height-mobile-xs: 20px;

  --text-2xl: var(--text-mobile-2xl);
  --line-height-2xl: var(--line-height-mobile-2xl);
  --text-xl: var(--text-mobile-xl);
  --line-height-xl: var(--line-height-mobile-xl);
  --text-2lg: var(--text-mobile-2lg);
  --line-height-2lg: var(--line-height-mobile-2lg);
  --text-lg: var(--text-mobile-lg);
  --line-height-lg: var(--line-height-mobile-lg);
  --text-md: var(--text-mobile-md);
  --line-height-md: var(--line-height-mobile-md);
  --text-body: var(--text-mobile-body);
  --line-height-body: var(--line-height-mobile-body);
  --text-sm: var(--text-mobile-sm);
  --line-height-sm: var(--line-height-mobile-sm);
  --text-xs: var(--text-mobile-xs);
  --line-height-xs: var(--line-height-mobile-xs);

  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0 25px 30px -8px rgba(0, 0, 0, 0.2),
    0 10px 15px -5px rgba(0, 0, 0, 0.15), -12px 0 15px -5px rgba(0, 0, 0, 0.2),
    12px 0 15px -5px rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.25);

  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06),
    inset -1px 0 2px 0 rgba(0, 0, 0, 0.03),
    inset 1px 0 2px 0 rgba(0, 0, 0, 0.03);
  --shadow-none: none;

  --duration-speed-none: 0s;
  --duration-speed-quick: 0.1s;
  --duration-speed-default: 0.2s;
  --duration-speed-slow: 0.3s;
}

@media (min-width: var(--breakpoint-mobile)) {
  @theme {
    --text-2xl: var(--text-desktop-2xl);
    --line-height-2xl: var(--line-height-desktop-2xl);
    --text-xl: var(--text-desktop-xl);
    --line-height-xl: var(--line-height-desktop-xl);
    --text-2lg: var(--text-desktop-2lg);
    --line-height-2lg: var(--line-height-desktop-2lg);
    --text-lg: var(--text-desktop-lg);
    --line-height-lg: var(--line-height-desktop-lg);
    --text-md: var(--text-desktop-md);
    --line-height-md: var(--line-height-desktop-md);
    --text-body: var(--text-desktop-body);
    --line-height-body: var(--line-height-desktop-body);
    --text-sm: var(--text-desktop-sm);
    --line-height-sm: var(--line-height-desktop-sm);
    --text-xs: var(--text-desktop-xs);
    --line-height-xs: var(--line-height-desktop-xs);
  }
}

.text-2xl {
  font-size: var(--text-2xl);
  line-height: var(--line-height-2xl);
}

.text-xl {
  font-size: var(--text-xl);
  line-height: var(--line-height-xl);
}

.text-2lg {
  font-size: var(--text-2lg);
  line-height: var(--line-height-2lg);
}

.text-lg {
  font-size: var(--text-lg);
  line-height: var(--line-height-lg);
}

.text-md {
  font-size: var(--text-md);
  line-height: var(--line-height-md);
}

.text-body {
  font-size: var(--text-body);
  line-height: var(--line-height-body);
}

.text-sm {
  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
}

.text-xs {
  font-size: var(--text-xs);
  line-height: var(--line-height-xs);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
