@layer components; 
@import "./components/button.css";

@layer components {
  :root {
    /* Primary */
    --default-primary-100: #E6E5EC;
    --default-primary-200: #B4B3C6;
    --default-primary-300: #5C5A83;
    --default-primary-400: #050241;
    --default-primary-500: #040134;
    --default-primary-600: #020120;
    --default-primary-700: #010010;

    /* Secondary */
    --default-secondary-100: #E5F4FE;
    --default-secondary-200: #A5DAFD;
    --default-secondary-300: #4CB5FB;
    --default-secondary-400: #0096FA;
    --default-secondary-500: #0078C8;
    --default-secondary-600: #004B7D;
    --default-secondary-700: #003457;

    /* Tertiary */
    --default-tertiary-100: #E3E5DE;
    --default-tertiary-200: #C8CBBD;
    --default-tertiary-300: #ADB19C;
    --default-tertiary-400: #92987C;
    --default-tertiary-500: #747963;
    --default-tertiary-600: #5E6250;
    --default-tertiary-700: #414437;

    /* Neutral */
    --default-neutral-100: #FFFFFF;
    --default-neutral-200: #F2F2F2;
    --default-neutral-300: #CCCCCC;
    --default-neutral-400: #8C8C8C;
    --default-neutral-500: #666666;
    --default-neutral-600: #333333;
    --default-neutral-700: #000000;

    /* Attention */
    --default-attention-100: #E6F0F8;
    --default-attention-400: #0065AD;

    /* Success */
    --default-success-100: #E5F1EA;
    --default-success-400: #007831;

    /* Error */
    --default-error-100: #FAE8E6;
    --default-error-400: #C42C21;

    /* Promotion */
    --default-promotion: #FF0000;

    /* UI Elements */
    --default-rounded-btn: 6px;
    --default-rounded-box: 12px;
    --default-animation-btn: 0.1s;
    --default-btn-hover-scale: 0.98;
    --default-site-corners: 0.75rem;
    --default-btn-border: 0px;

    /* UI Elements */
    --default-rounded-btn: 6px;
    --default-rounded-box: 12px;
    --default-animation-btn: 0.1s;
    --default-btn-hover-scale: 0.98;
    --default-site-corners: 0.75rem;
    --default-btn-border: 0px;
  }
}
