<div class="skin space-y-1">
  <h1 class="text-md font-bold">Primary Skin, 0%</h1>
  <div class="skin-primary progress" style="--progress-value: 0"></div>
  <h1 class="text-md font-bold">Primary Skin, 50%</h1>
  <div class="skin-primary progress" style="--progress-value: 0.5"></div>
  <h1 class="text-md font-bold">Primary Skin, 100%</h1>
  <div class="skin-primary progress" style="--progress-value: 1"></div>
  <h1 class="text-md font-bold">Success Skin, 66%</h1>
  <div class="skin-tertiary progress" style="--progress-value: 0.66"></div>
</div>
