<div class="skin space-y-1">
  <h1 id="progress-primary-0" class="text-md font-bold">Primary Skin, 0%</h1>
  <div
    class="skin-primary progress"
    style="--progress-value: 0"
    role="progressbar"
    aria-valuemin="0"
    aria-valuemax="100"
    aria-valuenow="0"
    aria-labelledby="progress-primary-0"
  ></div>
  <h1 id="progress-primary-50" class="text-md font-bold">Primary Skin, 50%</h1>
  <div
    class="skin-primary progress"
    style="--progress-value: 0.5"
    role="progressbar"
    aria-valuemin="0"
    aria-valuemax="100"
    aria-valuenow="50"
    aria-labelledby="progress-primary-50"
  ></div>
  <h1 id="progress-primary-100" class="text-md font-bold">
    Primary Skin, 100%
  </h1>
  <div
    class="skin-primary progress"
    style="--progress-value: 1"
    role="progressbar"
    aria-valuemin="0"
    aria-valuemax="100"
    aria-valuenow="100"
    aria-labelledby="progress-primary-100"
  ></div>
  <h1 id="progress-success-66" class="text-md font-bold">Success Skin, 66%</h1>
  <div
    class="skin-tertiary progress"
    style="--progress-value: 0.66"
    role="progressbar"
    aria-valuemin="0"
    aria-valuemax="100"
    aria-valuenow="66"
    aria-labelledby="progress-success-66"
  ></div>
</div>
