<div
  class="control-pip-wrapper skin-control"
  role="radiogroup"
  aria-label="Item navigation"
  aria-describedby="pip-navigation-description"
>
  <span id="pip-navigation-description" class="sr-only"
    >Use arrow keys to navigate between items</span
  >

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      checked
      aria-current="page"
      aria-label="Show item 1 of 6"
    />
    <span class="sr-only">Show item 1 of 6</span>
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 2 of 6"
    />
    <span class="sr-only">Show item 2 of 6</span>
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 3 of 6"
    />
    <span class="sr-only">Show item 3 of 6</span>
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 4 of 6"
    />
    <span class="sr-only">Show item 4 of 6</span>
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 5 of 6"
    />
    <span class="sr-only">Show item 5 of 6</span>
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 6 of 6"
    />
    <span class="sr-only">Show item 6 of 6</span>
  </label>
</div>
