<div
  class="control-pip-wrapper skin-control"
  role="radiogroup"
  aria-label="Item navigation"
  aria-describedby="pip-navigation-description"
>
  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      checked
      aria-current="page"
      aria-label="Show item 1 of 6"
    />
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 2 of 6"
    />
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 3 of 6"
    />
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 4 of 6"
    />
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 5 of 6"
    />
  </label>

  <label class="control-pip-label">
    <input
      type="radio"
      name="item-navigation"
      class="control-pip"
      aria-label="Show item 6 of 6"
    />
  </label>
</div>
