<div class="carousel-wrapper">
  <div class="carousel">
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
      </div>
    </div>
  </div>
</div>
