<div class="carousel" aria-roledescription="carousel">
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black">
      <div class="h-[346px] bg-neutral-600"></div>
      <p>Slide 1</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black">
      <div class="h-[346px] bg-neutral-600"></div>
      <p>Slide 2</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black">
      <div class="h-[346px] bg-neutral-600"></div>
      <p>Slide 3</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black">
      <div class="h-[346px] bg-neutral-600"></div>
      <p>Slide 4</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black">
      <div class="h-[346px] bg-neutral-600"></div>
      <p>Slide 5</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black">
      <div class="h-[346px] bg-neutral-600"></div>
      <p>Slide 6</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black">
      <div class="h-[346px] bg-neutral-600"></div>
      <p>Slide 7</p>
    </div>
  </div>
</div>
