<div class="carousel-wrapper">
  <div class="carousel">
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <div class="carousel-image"></div>
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
  </div>
</div>
