<div class="carousel">
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="card">
      <div class="image"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="card">
      <div class="image"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="card">
      <div class="image"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="card">
      <div class="image"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="card">
      <div class="image"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="card">
      <div class="image"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <!-- dummy product card -->
  <div class="carousel-item">
    <div class="card">
      <div class="image"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
  </div>
  <!-- / dummy product card -->
</div>
