<div class="carousel">
  <div class="carousel-item">
    <!-- dummy product card -->
    <div style="color: black">
      <div style="height: 346px; background: #eee"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div style="color: black">
      <div style="height: 346px; background: #eee"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div style="color: black">
      <div style="height: 346px; background: #eee"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div style="color: black">
      <div style="height: 346px; background: #eee"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div style="color: black">
      <div style="height: 346px; background: #eee"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div style="color: black">
      <div style="height: 346px; background: #eee"></div>
      <p>Product Title</p>
      <p>£10.00</p>
    </div>
    <!-- / dummy product card -->
  </div>
</div>
