<div class="carousel-wrapper">
  <div class="carousel" aria-roledescription="carousel">
    <div class="carousel-item">
      <div class="" tabindex="0">
        <img
          class="carousel-image"
          src="https://picsum.photos/id/41/500/500"
          alt="Carousel Image"
        />
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <img
          class="carousel-image"
          src="https://picsum.photos/id/42/500/500"
          alt="Carousel Image"
        />
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <img
          class="carousel-image"
          src="https://picsum.photos/id/43/500/500"
          alt="Carousel Image"
        />
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <img
          class="carousel-image"
          src="https://picsum.photos/id/44/500/500"
          alt="Carousel Image"
        />
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <img
          class="carousel-image"
          src="https://picsum.photos/id/45/500/500"
          alt="Carousel Image"
        />
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="" tabindex="0">
        <img
          class="carousel-image"
          src="https://picsum.photos/id/46/500/500"
          alt="Carousel Image"
        />
        <div class="carousel-content">
          <h3 class="carousel-title">Title</h3>
          <p class="carousel-body">Description</p>
          <button class="btn btn-primary btn-high">CTA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-controls-container">
    <div class="carousel-controls-left">
      <fieldset
        class="carousel-bullet-wrapper"
        aria-label="Carousel navigation"
      >
        <legend class="sr-only">Select carousel slide</legend>
        <input
          type="radio"
          name="carousel-slide"
          id="slide1"
          class="carousel-bullet"
          checked
        />
        <label for="slide1" class="sr-only">Slide 1</label>

        <input
          type="radio"
          name="carousel-slide"
          id="slide2"
          class="carousel-bullet"
        />
        <label for="slide2" class="sr-only">Slide 2</label>

        <input
          type="radio"
          name="carousel-slide"
          id="slide3"
          class="carousel-bullet"
        />
        <label for="slide3" class="sr-only">Slide 3</label>

        <input
          type="radio"
          name="carousel-slide"
          id="slide4"
          class="carousel-bullet"
        />
        <label for="slide4" class="sr-only">Slide 4</label>

        <input
          type="radio"
          name="carousel-slide"
          id="slide5"
          class="carousel-bullet"
        />
        <label for="slide5" class="sr-only">Slide 5</label>

        <input
          type="radio"
          name="carousel-slide"
          id="slide6"
          class="carousel-bullet"
        />
        <label for="slide6" class="sr-only">Slide 6</label>
      </fieldset>
    </div>

    <div class="carousel-controls-right">
      <div class="carousel-counter">
        <span class="current-slide">1</span>
        <span class="counter-separator">/</span>
        <span class="total-slides">6</span>
      </div>
    </div>
  </div>
</div>
