<div class="carousel-controls-banner">
  <div class="carousel-control-pagination">1 of 4</div>
  <div class="flex flex-start">
    <button class="btn carousel-control-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path d="M4 4L20 12L4 20" fill="black" />
      </svg>
    </button>

    <button class="btn carousel-control-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M15 16.1371L13.6099 17.5L8 12L13.6099 6.5L15 7.86289L10.7802 12L15 16.1371Z"
          fill="black"
        />
      </svg>
    </button>
    <button class="btn carousel-control-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M9 16.1371L13.2198 12L9 7.86289L10.3901 6.5L16 12L10.3901 17.5L9 16.1371Z"
          fill="black"
        />
      </svg>
    </button>
  </div>
</div>
