<fieldset class="carousel-bullet-wrapper" aria-label="Carousel navigation">
  <legend class="sr-only">Select carousel slide</legend>
  <input
    type="radio"
    name="carousel-bullet-1"
    id="bullet1"
    class="carousel-bullet"
    checked
  />
  <label for="bullet1" class="sr-only">Slide 1</label>

  <input
    type="radio"
    name="carousel-bullet"
    id="bullet2"
    class="carousel-bullet"
  />
  <label for="bullet2" class="sr-only">Slide 2</label>

  <input
    type="radio"
    name="carousel-bullet"
    id="bullet3"
    class="carousel-bullet"
  />
  <label for="bullet3" class="sr-only">Slide 3</label>

  <input
    type="radio"
    name="carousel-bullet"
    id="bullet4"
    class="carousel-bullet"
  />
  <label for="bullet4" class="sr-only">Slide 4</label>

  <input
    type="radio"
    name="carousel-bullet"
    id="bullet5"
    class="carousel-bullet"
  />
  <label for="bullet5" class="sr-only">Slide 5</label>

  <input
    type="radio"
    name="carousel-bullet"
    id="bullet6"
    class="carousel-bullet"
  />
  <label for="bullet6" class="sr-only">Slide 5</label>
</fieldset>
