<div class="carousel gap-0" aria-roledescription="carousel">
  <div
    class="carousel-item w-full"
    tabindex="0"
    role="group"
    aria-roledescription="slide"
  >
    <!--  dummy banner -->
    <div class="flex justify-between h-96">
      <div class="w-1/2 flex flex-col justify-center items-center">
        <h3 class="text-3xl text-black">Banner #1</h3>
        <p>Banner subtitle</p>
      </div>
      <div class="w-4/10 bg-gray-400 grid place-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-1/2 h-1/2"
          viewBox="0 0 512 512"
        >
          <path
            class="fill-white"
            d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6l96 0 32 0 208 0c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
          />
        </svg>
      </div>
    </div>
  </div>
  <div
    class="carousel-item w-full"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!--  dummy banner -->
    <div class="flex justify-between h-96">
      <div class="w-1/2 flex flex-col justify-center items-center">
        <h3 class="text-3xl text-black">Banner #2</h3>
        <p>Banner subtitle</p>
      </div>
      <div class="w-4/10 bg-gray-400 grid place-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-1/2 h-1/2"
          viewBox="0 0 512 512"
        >
          <path
            class="fill-white"
            d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6l96 0 32 0 208 0c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="carousel-bullet-wrapper">
  <div class="carousel-bullet carousel-bullet-active"></div>
  <div class="carousel-bullet"></div>
</div>

<div class="flex items-center justify-between">
  <div class="carousel-control-pagination">1 of 2</div>
  <div class="flex flex-start">
    <button class="btn carousel-control-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path d="M4 4L20 12L4 20" fill="black" />
      </svg>
    </button>

    <button class="btn carousel-control-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M15 16.1371L13.6099 17.5L8 12L13.6099 6.5L15 7.86289L10.7802 12L15 16.1371Z"
          fill="black"
        />
      </svg>
    </button>
    <button class="btn carousel-control-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M9 16.1371L13.2198 12L9 7.86289L10.3901 6.5L16 12L10.3901 17.5L9 16.1371Z"
          fill="black"
        />
      </svg>
    </button>
  </div>
</div>
