<div class="carousel" aria-roledescription="carousel">
  <div
    class="carousel-item"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 1</p>
      <p>£11.00</p>
    </div>
  </div>
  <div
    class="carousel-item"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 2</p>
      <p>£11.00</p>
    </div>
  </div>
  <div
    class="carousel-item"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 3</p>
      <p>£11.00</p>
    </div>
  </div>
  <div
    class="carousel-item"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 4</p>
      <p>£11.00</p>
    </div>
  </div>
  <div
    class="carousel-item"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 5</p>
      <p>£11.00</p>
    </div>
  </div>
  <div
    class="carousel-item"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 6</p>
      <p>£11.00</p>
    </div>
  </div>
  <div
    class="carousel-item"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 7</p>
      <p>£11.00</p>
    </div>
  </div>
  <div
    class="carousel-item"
    role="group"
    aria-roledescription="slide"
    tabindex="0"
  >
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 8</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item" aria-roledescription="slide">
    <!-- dummy product card -->
    <div class="text-center bg-grey-700 w-[346px] text-black" tabindex="0">
      <div class="h-[346px] bg-neutral-300"></div>
      <p>Product 9</p>
      <p>£11.00</p>
    </div>
  </div>
</div>

<div class="carousel-bullet-wrapper">
  <div class="carousel-bullet carousel-bullet-active"></div>
  <div class="carousel-bullet carousel-bullet-hover"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
</div>

<div class="flex justify-end">
  <div class="carousel-control-pagination">1 of 9</div>
  <div class="flex flex-start">
    <button class="btn carousel-control-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M15 16.1371L13.6099 17.5L8 12L13.6099 6.5L15 7.86289L10.7802 12L15 16.1371Z"
          fill="black"
        />
      </svg>
    </button>

    <button class="btn carousel-control-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M9 16.1371L13.2198 12L9 7.86289L10.3901 6.5L16 12L10.3901 17.5L9 16.1371Z"
          fill="black"
        />
      </svg>
    </button>
  </div>
</div>
