<div class="carousel">
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product Title</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product Title</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product Title</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product Title</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product Title</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product Title</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product Title</p>
      <p>£11.00</p>
    </div>
  </div>
</div>

<div class="carousel-bullet-wrapper">
  <div class="carousel-bullet active"></div>
  <div class="carousel-bullet hover"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
</div>
