<div class="carousel">
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 1</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 2</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 3</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 4</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 5</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 6</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item" tabindex="0">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 7</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card" tabindex="0">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 8</p>
      <p>£11.00</p>
    </div>
  </div>
  <div class="carousel-item">
    <!-- dummy product card -->
    <div class="carousel-dummy-product-card" tabindex="0">
      <div class="carousel-slide-dummy-image"></div>
      <p>Product 9</p>
      <p>£11.00</p>
    </div>
  </div>
</div>

<div class="carousel-bullet-wrapper">
  <div class="carousel-bullet carousel-bullet-active"></div>
  <div class="carousel-bullet carousel-bullet-hover"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
  <div class="carousel-bullet"></div>
</div>
