<div id="accordion" class="accordion-wrapper">
  <div class="accordion-section">
    <h3>
      <button
        type="button"
        aria-expanded="true"
        class="accordion-trigger"
        aria-controls="panel-1"
        id="accordion-trigger-1"
      >
        <span class="accordion-title">
          Expanded Example
          <span class="accordion-icon"></span>
        </span>
      </button>
    </h3>
    <div
      id="panel-1"
      role="region"
      aria-labelledby="accordion-trigger-1"
      class="accordion-panel"
    >
      <div>Visible Content</div>
    </div>
  </div>
  <div class="accordion-section">
    <h3>
      <button
        type="button"
        aria-expanded="false"
        class="accordion-trigger"
        aria-controls="panel-2"
        id="accordion-trigger-2"
      >
        <span class="accordion-title">
          Personal Information
          <span class="accordion-icon"></span>
        </span>
      </button>
    </h3>
    <div
      id="panel-2"
      role="region"
      aria-labelledby="accordion-trigger-2"
      class="accordion-panel panel-hidden"
    >
      <div>Hidden Content</div>
    </div>
  </div>
  <div class="accordion-section">
    <h3>
      <button
        type="button"
        aria-expanded="true"
        class="accordion-trigger"
        aria-controls="panel-3"
        id="accordion-trigger-3"
      >
        <span class="accordion-title">
          Box 3
          <span class="accordion-icon"></span>
        </span>
      </button>
    </h3>
    <div
      id="panel-3"
      role="region"
      aria-labelledby="accordion-trigger-3"
      class="accordion-panel"
    >
      <div>Visible Content</div>
    </div>
  </div>
</div>
