<div id="accordion" class="accordion-wrapper">
  <div class="accordion-section">
    <h3>
      <button
        type="button"
        aria-expanded="true"
        class="accordion-trigger"
        aria-controls="panel-1"
        id="accordion-trigger-1"
      >
        <span class="accordion-title"> Expanded Example </span>
        <span class="accordion-icon">
          <svg
            fill="none"
            stroke="#000000"
            width="20"
            height="20"
            viewBox="0 0 256 256"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M128,180a3.98881,3.98881,0,0,1-2.82861-1.17139l-80-80.00024a4.00009,4.00009,0,0,1,5.65722-5.65674L128,170.34326l77.17139-77.17163a4.00009,4.00009,0,0,1,5.65722,5.65674l-80,80.00024A3.98881,3.98881,0,0,1,128,180Z"
                stroke-width="16"
                fill="none"
              ></path>
            </g>
          </svg>
        </span>
      </button>
    </h3>
    <div
      id="panel-1"
      role="region"
      aria-labelledby="accordion-trigger-1"
      class="accordion-panel"
    >
      <div>Visible Content</div>
    </div>
  </div>
  <div class="accordion-section">
    <h3>
      <button
        type="button"
        aria-expanded="false"
        class="accordion-trigger"
        aria-controls="panel-2"
        id="accordion-trigger-2"
      >
        <span class="accordion-title">
          Personal Information
          <span class="accordion-icon"></span>
        </span>
      </button>
    </h3>
    <div
      id="panel-2"
      role="region"
      aria-labelledby="accordion-trigger-2"
      class="accordion-panel panel-hidden"
    >
      <div>Hidden Content</div>
    </div>
  </div>
  <div class="accordion-section">
    <h3>
      <button
        type="button"
        aria-expanded="true"
        class="accordion-trigger"
        aria-controls="panel-3"
        id="accordion-trigger-3"
      >
        <span class="accordion-title"> Box 3 </span>
        <span class="accordion-icon">
          <svg
            fill="none"
            stroke="#000000"
            width="20"
            height="20"
            viewBox="0 0 256 256"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M128,180a3.98881,3.98881,0,0,1-2.82861-1.17139l-80-80.00024a4.00009,4.00009,0,0,1,5.65722-5.65674L128,170.34326l77.17139-77.17163a4.00009,4.00009,0,0,1,5.65722,5.65674l-80,80.00024A3.98881,3.98881,0,0,1,128,180Z"
                stroke-width="16"
                fill="none"
              ></path>
            </g>
          </svg>
        </span>
      </button>
    </h3>
    <div
      id="panel-3"
      role="region"
      aria-labelledby="accordion-trigger-3"
      class="accordion-panel"
    >
      <div>Visible Content</div>
    </div>
  </div>
</div>
