<div class="accordion-wrapper">
  <details name='accordion-group-1' class="accordion-section" open>
    <summary class="accordion-trigger" role="button" aria-expanded='true'  aria-controls="panel-1" id="accordion-trigger-1">
      <span class="accordion-title">Trigger 1</span>
      <span class="accordion-icon">
        <svg
          fill="none"
          stroke="#666666"
          width="20"
          height="20"
          class='icon-svg'
          viewBox="0 0 256 256"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M128,180a3.98881,3.98881,0,0,1-2.82861-1.17139l-80-80.00024a4.00009,4.00009,0,0,1,5.65722-5.65674L128,170.34326l77.17139-77.17163a4.00009,4.00009,0,0,1,5.65722,5.65674l-80,80.00024A3.98881,3.98881,0,0,1,128,180Z"
              stroke-width="16"
              fill="none"
            ></path>
          </g>
        </svg>
      </span>
    </summary>
    <div class="accordion-panel" id='panel-1' aria-labelledby="accordion-trigger-1">
      <p>
        Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Reprehenderit, non?
      </p>
    </div>
  </details>
  <details name='accordion-group-1' class="accordion-section">
    <summary class="accordion-trigger" role="button" aria-expanded="false" aria-controls="panel-2" id="accordion-trigger-2>
      <span class="accordion-title">Trigger 2</span>
      <span class="accordion-icon">
        <svg
          fill="none"
          stroke="#666666"
          width="20"
          height="20"
          viewBox="0 0 256 256"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M128,180a3.98881,3.98881,0,0,1-2.82861-1.17139l-80-80.00024a4.00009,4.00009,0,0,1,5.65722-5.65674L128,170.34326l77.17139-77.17163a4.00009,4.00009,0,0,1,5.65722,5.65674l-80,80.00024A3.98881,3.98881,0,0,1,128,180Z"
              stroke-width="16"
              fill="none"
            ></path>
          </g>
        </svg>
      </span>
    </summary>
    <div class="accordion-panel" id='panel-2' aria-labelledby="accordion-trigger-2">
      <p>
        Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Reprehenderit, non?
      </p>
    </div>
  </details>
</div>
