@layer components {
  :root {
    --accordion-wrapper-padding: 5px;
    --accordion-inner-padding: 1em 1.5em;
    --accordion-width: 20em;
    --accordion-gap: 0.5em;
    --accordion-radius: var(--radius-size-sm);
    --accordion-border: none;
    --accordion-inner-margin: 0px;

    --accordion-focus-outline: auto;
    --accordion-text-size: var(--text-size-sm);
    --accordion-title-weight: var(--font-weight-normal);
    --accordion-content-weight: var(--font-weight-normal);
    --accordion-trigger-hover: none;

    --acc-icon-expanded-transform: rotate(180deg);
    --acc-icon-expanded-transition: all 0.1s ease-in;
    --acc-icon-collapsed-transform: rotate(0deg);
    --acc-icon-collapsed-transition: all 0.1s ease-in;
  }

  .accordion-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--accordion-gap);
    width: 100%;
    margin: 0px;
    padding: var(--accordion-wrapper-padding);
    border: var(--accordion-border);
    border-radius: var(--accordion-radius);
    overflow: hidden;
  }

  .accordion-wrapper h3 {
    margin: 0;
    padding: 0;
  }

  .accordion-section {
    border-radius: var(--accordion-radius);
    overflow: hidden;
    background: var(--white);
    box-shadow: var(--shadow-md)
  }

  .accordion-section .accordion-trigger {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: left;
      background: none;
      border-style: none;
      font-size: var(--accordion-text-size);
      font-weight: var(--accordion-title-weight);
      margin: var(--accordion-inner-margin);
      padding: var(--accordion-inner-padding);
  }

  .accordion-trigger:focus,
  .accordion-trigger:hover {
    background: var(--accordion-trigger-hover);
  }
  .accordion-section:focus-within {
    outline: var(--accordion-focus-outline);
  }
  .accordion-title {
    display: block;
  }

  .accordion-trigger[aria-expanded='true'] .accordion-icon {
    transform: var(--acc-icon-expanded-transform);
    transition: var(--acc-icon-expanded-transition);
  }

  .accordion-trigger[aria-expanded='false'] .accordion-icon {
    transform: var(--acc-icon-collapsed-transform);
    transition: var(--acc-icon-collapsed-transition);
  }

  .accordion-panel {
    margin: var(--accordion-inner-margin);
    padding: var(--accordion-inner-padding);
  }

  .accordion-panel.panel-hidden {
    display: none;
  }

  .set-width {
    width: var(--accordion-width);
    }
}


