:root {
  --carousel-gap: 1.3rem;
}

.carousel {
  display: flex;
  gap: var(--carousel-gap);
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel-item {
  flex-shrink: 0;
  scroll-snap-align: start;
}

/* example */

.carousel-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 346px;
  height: 346px;
  font-size: 30px;
  background: #eee;
}

