
  :root {
    --carousel-gap: 1.3rem;
    --carousel-item-width: 346px;
  }

  .carousel {
    display: flex;
    gap: var(--carousel-gap);
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
  }

  .carousel-item {
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .image {
    height: 346px;
    background: #eee;
  }
