@layer components {
  :root {
    --dropdown-text-label-color: var(--color-text-high-emphasis);
    --dropdown-text-summary-color: var(--color-text-high-emphasis);
    --dropdown-text-helper-color: var(--color-text-high-emphasis);
    --dropdown-text-option-color: var(--color-text-high-emphasis);
    --dropdown-text-inactive-color: var(--color-text-inactive);
    --dropdown-text-error-color: var(--color-text-error);
    --dropdown-text-search-color: var(--color-text-medium-emphasis);

    --dropdown-surface: var(--color-surface-white);
    --dropdown-surface-controls-default: var(--color-surface-controls-default);
    --dropdown-surface-controls-dark: var(--color-surface-controls-dark);
    --dropdown-surface-hover: var(--color-surface-primary-lightest);
    --dropdown-surface-inactive: var(--color-surface-white);

    --dropdown-border-color: var(--color-border-controls);
    --dropdown-border-color-hover: var(--color-border-primary);
    --dropdown-border-color-active: var(--color-border-primary);
    --dropdown-border-color-error: var(--color-border-error);
    --dropdown-border-color-inactive: var(--color-border-inactive);

    --dropdown-icon-color: var(--color-icons-black);
    --dropdown-icon-error-color: var(--color-icons-error);

    --dropdown-text-label-size: var(--text-size-body);
    --dropdown-text-label-line-height: var(--line-height-body);
    --dropdown-text-summary-size: var(--text-size-body);
    --dropdown-text-summary-line-height: var(--line-height-body);
    --dropdown-text-helper-size: var(--text-size-sm);
    --dropdown-text-helper-line-height: var(--line-height-sm);
    --dropdown-text-option-size: var(--text-size-body);
    --dropdown-text-option-line-height: var(--line-height-body);

    --dropdown-font-weight-label: var(--font-weight-semi-bold);
    --dropdown-font-weight-summary: var(--font-weight-normal);
    --dropdown-font-weight-helper: var(--font-weight-normal);
    --dropdown-font-weight-option: var(--font-weight-normal);

    --dropdown-border-radius: var(--radius-size-none);
    --dropdown-menu-border-radius: var(--radius-size-none);
    --dropdown-scrollbar-border-radius: var(--radius-size-full);

    --dropdown-width: 16rem;
    --dropdown-gap: 0.25rem;
    --dropdown-padding-y: 0.5rem;
    --dropdown-padding-x: 1rem;
    --dropdown-menu-margin-top: 0.25rem;
    --dropdown-border-width-default: 1px;
    --dropdown-border-width-active: 2px;
    --dropdown-max-items: 5;
    --dropdown-item-height: 2.5rem;
    --dropdown-menu-shadow: var(--shadow-md);
    --dropdown-focus-ring-color: var(--color-border-attention);
  }

  .dropdown-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--dropdown-gap);
    width: var(--dropdown-width, 16rem);
    position: relative;
  }

  .dropdown {
    position: relative;
    width: 100%;
  }

  .dropdown-label {
    color: var(--dropdown-text-label-color);
    font-size: var(--dropdown-text-label-size);
    line-height: var(--dropdown-text-label-line-height);
    font-weight: var(--dropdown-font-weight-label);
    margin: 0;
  }

  .listbox-wrapper {
    position: relative;
  }

  .dropdown-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);
    cursor: pointer;
    background-color: var(--dropdown-surface);
    box-shadow: inset 0 0 0 var(--dropdown-border-width-default)
      var(--dropdown-border-color);
    border-radius: var(--dropdown-border-radius);
    color: var(--dropdown-text-color);
    border: none;
    text-align: left;
    z-index: 1;
  }

  .dropdown-summary:hover,
  .listbox-wrapper[aria-expanded='true'] .dropdown-summary {
    box-shadow: inset 0 0 0 var(--dropdown-border-width-active)
      var(--dropdown-border-color-hover);
  }

  .dropdown-summary:focus {
    outline: none;
  }

  .dropdown-summary:focus::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: calc(var(--dropdown-border-radius) + 2px);
    box-shadow: 0 0 0 2px var(--dropdown-focus-ring-color);
    z-index: 101;
    pointer-events: none;
  }

  .dropdown[open] .dropdown-summary {
    --dropdown-border-color-hover: var(--dropdown-border-color-active);
  }

  .dropdown-error .dropdown-summary {
    box-shadow: inset 0 0 0 var(--dropdown-border-width-active)
      var(--dropdown-border-color-error);
  }

  .dropdown-summary-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    min-width: 0;
    justify-content: space-between;
  }

  .dropdown summary::-webkit-details-marker {
    display: none;
  }

  .dropdown-icon {
    height: 1.25rem;
    width: 1.25rem;
    color: var(--dropdown-icon-color);
  }

  .dropdown-icon.chevron {
    margin-left: auto;
  }

  .dropdown-helper .dropdown-icon {
    height: 1rem;
    width: 1rem;
  }

  .dropdown-summary span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--dropdown-text-summary-color);
    font-size: var(--dropdown-text-summary-size);
    line-height: var(--dropdown-text-summary-line-height);
    font-weight: var(--dropdown-font-weight-summary);
  }

  .dropdown-content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 100;
    margin-top: var(--dropdown-menu-margin-top);
    background-color: var(--dropdown-surface);
    border: var(--dropdown-border) solid var(--dropdown-border-color-active);
    border-radius: var(--dropdown-border-radius);
    box-shadow: var(--dropdown-menu-shadow);
    display: none;
  }
  .dropdown-open .dropdown-content-wrapper {
    display: block;
  }
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: calc((var(--dropdown-item-height) * var(--dropdown-max-items)));
    overflow-y: auto;
  }

  .dropdown-helper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--dropdown-text-helper-size);
    line-height: var(--dropdown-text-helper-line-height);
    color: var(--dropdown-text-helper-color);
    font-weight: var(--dropdown-font-weight-helper);
  }

  .dropdown-error .dropdown-helper {
    color: var(--dropdown-text-error-color);
  }

  .dropdown-error .dropdown-helper .dropdown-icon {
    color: var(--dropdown-icon-error-color);
  }

  .search-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: var(--dropdown-menu-margin-top);
    background-color: var(--dropdown-surface);
    border: var(--dropdown-border) solid var(--dropdown-border-color-active);
    border-radius: var(--dropdown-border-radius);
    box-shadow: var(--dropdown-menu-shadow);
    overflow-y: hidden;
    max-height: none;
  }

  .dropdown-list [role='option'],
  .dropdown-content [role='option'] {
    padding-left: var(--dropdown-padding-x);
    padding-right: var(--dropdown-padding-x);
    cursor: pointer;
    color: var(--dropdown-text-option-color);
    font-size: var(--dropdown-text-option-size);
    line-height: var(--dropdown-text-option-line-height);
    font-weight: var(--dropdown-font-weight-option);
    height: var(--dropdown-item-height);
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .dropdown-list [role='option'][aria-selected='true']:hover,
  .dropdown-list [role='option'][aria-selected='true']:focus {
    background-color: var(--dropdown-surface-controls-default);
  }

  .dropdown-list::-webkit-scrollbar {
    width: 1rem;
  }

  .dropdown-list::-webkit-scrollbar-thumb {
    background: var(--dropdown-surface-controls-dark);
    border-radius: var(--dropdown-scrollbar-border-radius);
    box-sizing: border-box;
    background-clip: padding-box;
    border: 0.25rem solid transparent;
  }

  .dropdown-list [role='option']:hover,
  .dropdown-list [role='option']:focus {
    background-color: var(--dropdown-surface-hover);
    outline: none;
  }

  .dropdown-list [role='option']:focus {
    outline: 2px solid var(--color-border-attention);
    outline-offset: -2px;
  }

  .search-wrapper {
    border-bottom: 1px solid var(--dropdown-surface-controls-default);
  }

  .search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .search-icon {
    position: absolute;
    left: 0.5rem;
    width: 1rem;
    height: 1rem;
    color: var(--dropdown-icon-color);
    pointer-events: none;
  }

  .dropdown-search-input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: none;
    color: var(--dropdown-text-color);
    background-color: var(--dropdown-surface);
    font-size: var(--dropdown-text-option-size);
    line-height: var(--dropdown-text-option-line-height);
  }

  .dropdown-search-input:focus {
    outline: none;
  }

  .dropdown-search-input::placeholder {
    color: var(--dropdown-text-search-color);
  }
  .dropdown-search-input::placeholder {
    .dropdown-content-wrapper:has(.search-wrapper) .dropdown-list {
      max-height: calc(
        (var(--dropdown-item-height) * (var(--dropdown-max-items) - 1))
      );
    }
  }

  .dropdown-wrapper[disabled] .dropdown-summary {
    pointer-events: none;
    opacity: 0.5;
    background-color: var(--dropdown-surface-inactive);
    box-shadow: inset 0 0 0 var(--dropdown-border-width-default)
      var(--dropdown-border-color-inactive);
  }

  .dropdown-wrapper[disabled] .dropdown-icon,
  .dropdown-wrapper[disabled] .dropdown-summary span,
  .dropdown-wrapper[disabled] .dropdown-helper {
    color: var(--dropdown-text-inactive-color);
  }

  .dropdown-wrapper[disabled] .dropdown-content-wrapper {
    display: none !important;
  }

  .dropdown-error .dropdown-summary {
    box-shadow: inset 0 0 0 var(--dropdown-border-width-active)
      var(--dropdown-border-color-error);
  }

  .dropdown-error .dropdown-helper {
    color: var(--dropdown-text-error-color);
  }

  .dropdown-error .dropdown-helper .dropdown-icon {
    color: var(--dropdown-icon-error-color);
  }
}
