@layer components {
  :root {
    --dropdown-width: 16rem;
    --dropdown-gap: 0.25rem;
    --dropdown-padding-y: 0.5rem;
    --dropdown-padding-x: 1rem;
    --dropdown-menu-margin-top: 0.25rem;
    --dropdown-border-width: 1px;
    --dropdown-border-width-active: 2px;
    --dropdown-max-items: 5;
    --dropdown-item-height: 2.5rem;
    --dropdown-scroll-padding: 0.25em;
    --dropdown-scrollbar-radius: var(--radius-site);
    --dropdown-scrollbar-width: 8px;
    --dropdown-search-divider-width: 1px;
    --dropdown-error-border-color: var(--color-error);
    --dropdown-radius: var(--radius-site);
  }

  .dropdown-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--dropdown-gap);
    width: var(--dropdown-width);
    position: relative;
    background-color: transparent !important;
  }

  .dropdown {
    position: relative;
    width: 100%;
    background-color: transparent !important;
  }

  .dropdown-helper,
  .dropdown-label {
    background-color: transparent !important;
  }

  .dropdown-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);
    cursor: pointer;
    box-shadow: inset 0 0 0 var(--dropdown-border-width) var(--skin-border);
    border-radius: var(--dropdown-radius);
    border: none;
    text-align: left;
  }

  .dropdown-summary:hover {
    box-shadow: inset 0 0 0 var(--dropdown-border-width-active)
      var(--skin-border-hover);
  }

  .dropdown-wrapper.dropdown-error .dropdown-summary {
    box-shadow: inset 0 0 0 var(--dropdown-border-width-active)
      var(--dropdown-error-border-color);
  }

  .dropdown-wrapper.dropdown-error .dropdown-helper {
    color: var(--dropdown-error-border-color);
  }

  .dropdown-wrapper.dropdown-error .dropdown-icon {
    color: var(--dropdown-error-border-color);
  }

  .dropdown-content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 101; /* Increased z-index to ensure it's higher than the helper text */
    margin-top: var(--dropdown-menu-margin-top);
    border-radius: var(--dropdown-radius);
    box-shadow: var(--shadow-site);
    display: none;
    overflow: hidden; /* Add this to contain the list's corners */
  }

  .dropdown-open .dropdown-content-wrapper {
    display: block;
  }

  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: calc((var(--dropdown-item-height) * var(--dropdown-max-items)));
    overflow-y: auto;
    border-radius: var(--dropdown-radius);
    background-color: var(--skin-background);
    mask-image: linear-gradient(
      #000,
      #000
    ); /* Fix for Safari border-radius clipping */
    -webkit-mask-image: linear-gradient(
      #000,
      #000
    ); /* Fix for Safari border-radius clipping */

    &::-webkit-scrollbar {
      width: calc(
        var(--dropdown-scrollbar-width) + (2 * var(--dropdown-scroll-padding))
      );
      background-color: var(--skin-background);
    }

    &::-webkit-scrollbar-thumb {
      background-color: color-mix(
        in oklch,
        var(--skin-foreground) 20%,
        var(--skin-background)
      );
      border-radius: var(--dropdown-scrollbar-radius);
      border: var(--dropdown-scroll-padding) solid var(--skin-background);
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--skin-background);
      border-top-right-radius: var(--dropdown-scrollbar-radius);
      border-bottom-right-radius: var (--dropdown-scrollbar-radius);
    }
  }

  .dropdown-content-wrapper > .dropdown-search-wrapper + .dropdown-list {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .dropdown-list [role='option'] {
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);
    cursor: pointer;
    height: var(--dropdown-item-height);
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .dropdown-icon {
    width: 1rem;
    flex-shrink: 0;
  }

  .dropdown-icon.chevron {
    margin-left: auto;
  }

  .dropdown-summary-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    min-width: 0;
  }

  .dropdown-summary span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    text-align: left;
  }

  .search-input-wrapper {
    position: relative;
  }

  .search-input-wrapper:focus {
    outline: none !important;
    box-shadow: inset 0 0 0 var(--dropdown-border-width-active)
      var(--skin-border-hover);
  }

  .dropdown-search-icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0.75rem;
    z-index: 30;
    top: 50%;
    transform: translateY(-50%);
  }

  .dropdown-search-input {
    outline: none;
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);
    padding-left: 2.5rem;
    width: 100%;
    border-bottom: var(--dropdown-search-divider-width) solid var(--skin-border) !important;
    border-top-left-radius: var(--dropdown-radius) !important;
    border-top-right-radius: var(--dropdown-radius) !important;
    border: none;
    outline-color: transparent;
    position: relative;
    z-index: 1;
  }

  .dropdown-search-input:focus {
    outline: none !important;
    box-shadow: inset 0 0 0 2px var(--skin-border-hover);
  }

  .dropdown-helper-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--dropdown-gap);
    background-color: transparent !important;
  }

  .dropdown-helper {
    color: var(--skin-foreground);
  }

  .dropdown-error-content {
    display: none;
    align-items: center;
    gap: var(--dropdown-gap);
  }

  .dropdown-wrapper.dropdown-error {
    .dropdown-helper {
      display: none;
    }

    .dropdown-error-content {
      display: flex;
      background-color: transparent !important;
    }

    .dropdown-summary {
      box-shadow: inset 0 0 0 var(--dropdown-border-width-active)
        var(--dropdown-error-border-color);
    }

    .dropdown-icon {
      color: var(--dropdown-error-border-color);
    }
  }

  .input-error-content {
    display: none;
  }

  .dropdown-wrapper.dropdown-error {
    .input-helper {
      display: none;
    }

    .input-error-content {
      display: flex;
    }

    .dropdown-summary {
      box-shadow: inset 0 0 0 var(--dropdown-border-width-active)
        var(--dropdown-error-border-color);
    }
  }
}
